body .pos-customer_facing_display .pos-payment_info .pos-company_logo {

 display: none;
}

 img {
    display: none;
}
	
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-odoo_logo_container {
    background-image: url(http://192.168.0.51:8069/web/static/src/img/qrpay.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.5vw;
    margin-top: 30%;
    height: 710px;
    width: 500px;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header {

    display: none;
}
